@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

:root{
    --white-theme-backgroung-color : white;
    --white-theme-main-colour : black;
    --white-theme-sub-text-color :black;
    --white-theme-nav-background-color :black;
}

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
}

html{
    font-size: 69%;
    height: 100%;
}

body{
    background: var(--white-theme-backgroung-color);
    height: 100%;
}

#root{
    height: 100% ;
}